:root {
    --background-color: rgb(46, 52, 64);
    --text-color: #eee;
    --border-color: steelblue;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: auto;
    width: 90%;
    max-width: 100ch;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
}

body.wait {
    cursor: wait;
}

main {
    grid-area: main;
}

header {
    grid-area: header;
}

h3 {
    font-weight: 400;
}

.row {
    display: grid;
    margin-top: 1em;
}

.row.source-form {
    grid-template-columns: 3fr 2fr 7fr;
}

.row.search-form {
    grid-template-columns: 11fr 1fr;
    border: 1px solid var(--border-color);
    padding: 1em
}

button {
    cursor: pointer;
}

input, textarea, button {
    font-size: 1.25em;
    min-width: 0;
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

.results {
    grid-template-columns: 1fr;
    list-style: none;
    border: 1px solid steelblue;
    padding: 4px;
    margin: 0;
    position: absolute;
    z-index: 10;
    background: var(--background-color);
}

.results > .result {
    line-height: 2em;
    padding: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.results > .result:hover,
.results > .result.active {
    background-color: var(--text-color);
    color: var(--background-color);
    cursor: pointer;
    transition: 0.1s;
}

.selectedq, .answer {
    font-size: 1.25em;
}

.selectedq {
    font-weight: bold;
}

.answer {
    padding-left: 2em;
}

footer {
    grid-area: footer;
    border-top: 1px solid steelblue;
    margin-top: 4em;
}

a {
    cursor: pointer;
    color: var(--text-color);
}

.wait button {
    animation: rotation 1s infinite alternate;
    background: transparent;
}

.sources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.sources li{
    list-style: none;
}

.article-card {
    display: grid;
    grid-template-columns: 1fr;
    height: 40vh;
    overflow: hidden;
    padding: 1em;
}

.article-card img{
    object-fit: cover;
    width: 100%;
    height: 20vh;
}

.article-card p{
    max-height: 4em;
    overflow: clip;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}