<footer>
    <p>An experimental natural language based querying system for Wikipedia.
    </p>
    <h2>How does it work?</h2>
    <ul>
        <li>Vector embedddings of sections of Wikipedia articles are prepared and stored</li>
        <li>Calculate the vector embedding for the given query </li>
        <li>Do a vector search in the vector store with Hierarchical Navigable Small World (HNSW) to find vectors that are similar</li>
        <li>Retrieve the corresponding article and narrowed down section</li>

    </ul>
    <p>Source code: <a href="https://github.com/santhoshtr/wq">github.com/santhoshtr/wq</a> </p>
</footer>