<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>W?</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Natural Language querying interface for wikipedia" />
    <meta name="viewport" content="initial-scale=1,user-scalable=yes" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="../static/index.js"></script>
</head>

    <body id="app">
        <header>
            <img class="logo mw-logo-icon" src="https://en.wikipedia.org/static/images/icons/wikipedia.png" alt="" aria-hidden="true" width="50" height="50">
            <div class="search-form">
                <input type="search"
                    id="search"
                    class="query-input"
                    placeholder="Ask a question"
                    v-model="query"
                    @keyup.enter="onQuery" />
                <button class="query-submit" @click="onQuery">?</button>
            </div>
        </header>

        <main >

            <section class="results-container" v-if="contexts.length">
                <h2>Relevant articles</h2>
                <ul class="sources">
                    <li class="result" v-for="(context, index) in contexts" :key="context.title">
                            <h2 :title="context.score"><a :href="context?.url" v-text="context.title"></a></h2>
                            <div class="context" v-html="context.content_html"></div>
                            <img :src="pageInfos[context.title]?.imageurl||'https://en.wikipedia.org/static/images/icons/wikipedia.png'" />
                    </li>
                </ul>
             </section>
        </main>
        {% include 'footer.html' %}

    </body>

</html>